body {
  font-family: 'Arial', sans-serif;
  background-color: #d5e3f1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin:0}
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px; /* Adicionando margem na parte inferior */}

form {
  max-width: 400px;
  width: 100%;
  padding: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 80px;
  margin-top:80px;}
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box}
   
      .button {
        background-color: #4caf50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size:16px}
        textarea {
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          resize: vertical; /* Permite redimensionamento vertical da área de texto */
          height: 90px; /* Ajuste a altura conforme necessário */}
        